

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);    
    height: 100vh;
    color: white;
    font-family: Signika, sans-serif;
    text-align: center;
   
}

.calculadora{
    position: absolute;
    background-color:black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
   width: 250px;
    padding: 15px;
    box-shadow: 0px 10px 40px black;
    border-radius: 20px;


}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #404040;
    border: none;
    color: white;
    font-family:  Signika, sans-serif;
    border-radius: 100%;

    
}

.botao:hover{
    background-color: #737373;
}

#visor{
   
    width: 90%;
    background-color: #E7E6E8;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
}
.teclado{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

